*,
*:before,
*:after {
  box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
a{
    text-decoration: none;
}
img{
    display: block;
    max-width: 100%;
}
body{
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    line-height: 1;
}
.button {
    padding: 20px;
    color: black;
    background-color: aqua;
    border: 0;
    margin: 50px auto;
    width: 300px;
    display: block;
    font-family: "Poppins", sans-serif;
}
.change {
    display: block;
    padding: 15px 40px;
    border-radius: 10px;
    border: 0;
    color: white;
    font-family: "Poppins", sans-serif;
    margin: 50px auto;
    background-color: #3d6ef7;
}

/* counter */
.counter {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px;
}
.counter-number {
    font-size: 100px;
    margin: 0 10px;
    color: transparent;
    background-image: linear-gradient(to right, #00aefd, #ff6bcb);
    -webkit-background-clip: text;
    background-clip: text;
}
.counter button {
    width: 40px;
    height: 40px;
    background-color: #ccc;
    border: 0;
    color: white;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
  