*,
*:before,
*:after {
  box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
a{
    text-decoration: none;
}
img{
    display: block;
    max-width: 100%;
}
body{
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    line-height: 1;
}

/* click */
.button {
    padding: 20px;
    color: black;
    background-color: aqua;
    border: 0;
    margin: 50px auto;
    width: 300px;
    display: block;
    font-family: "Poppins", sans-serif;
}

/* change_color_backgroud */
.change {
    display: block;
    padding: 15px 40px;
    border-radius: 10px;
    border: 0;
    color: white;
    font-family: "Poppins", sans-serif;
    margin: 50px auto;
    background-color: #3d6ef7;
}

/* counter */
.counter {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px;
}
.counter-number {
    font-size: 100px;
    margin: 0 10px;
    color: transparent;
    background-image: linear-gradient(to right, #00aefd, #ff6bcb);
    -webkit-background-clip: text;
    background-clip: text;
}
.counter button {
    width: 40px;
    height: 40px;
    background-color: #ccc;
    border: 0;
    color: white;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* toggle menu */ 
.menu {
    width: 300px;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    list-style: none;
    transform: translateX(100%);
    transition: transform 0.25s linear;
  }
  .menu.is-show {
    transform: translateX(0);
  }
  .menu-link {
    display: block;
    padding: 20px 15px;
    color: #333;
    border-bottom: 1px solid #eee;
  }
  .header {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .menu-toggle {
    cursor: pointer;
    font-size: 30px;
    position: relative;
    z-index: 9999;
  }

  /* tab */
.tab {
  padding: 2.5rem;
  border-radius: 1rem;
  background-color: white;
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin: 50px auto;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  width: 500px;
}
.tab-list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2.5rem;
}
.tab-item {
  cursor: pointer;
  padding: 1.2rem 2rem;
  border-radius: 5rem;
  color: #818e9b;
  background-color: #f4f5f7;
  text-align: center;
  white-space: nowrap;
  font-weight: 500;
  flex: 1;
}
.tab-item.active {
  color: white;
  background-color: #2979ff;
  pointer-events: none;
}
.tab-item:not(:first-child) {
  margin-left: 1.5rem;
}
.tab-content {
  display: none;
}
.tab-content.active {
  display: block;
}
.post {
  display: flex;
  align-items: center;
}
.post:not(:first-child) {
  margin-bottom: 2rem;
}
.post-title {
    color: #4e4f51;
    font-weight: 300;
    line-height: 1.8;
    font-size: 14px;
}
  
/* accordion */ 
.accordion {
  margin-bottom: 25px;
  max-width: 500px;
}
.accordion-header {
  padding: 20px;
  border-radius: 4px 4px 0 0;
  cursor: pointer;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* phần tử con của .accordion-header không thể click vào các phần tử của accordion này nữa */
.accordion-header * {
  pointer-events: none;
}
.accordion-content {
  border-top: 0;
  color: #333;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.6;
  background-color: white;
  height: 0;
  overflow: hidden;
  transition: all 0.25s linear;
}
.accordion-content-inner {
  padding: 20px;
  border: 1px solid #eee;
}
.accordion-content.is-active {
  height: auto;
}
/* open modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999999;
  background-color: rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  cursor: zoom-out;
}
.modal-content {
  min-height: 350px;
  width: 100%;
  max-width: 800px;
  padding: 25px;
  border-radius: 20px;
  position: relative;
  background-color: #fff;
  cursor: auto;
}
.modal-close {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  border-radius: 10rem;
  background-color: #6a5af9;
  color: white;
  cursor: pointer;
}
.buttonModal {
  display: block;
  width: 150px;
  border: 0;
  background-color: #49b54c;
  color: white;
  padding: 15px;
  margin: 30px 100px;
}
/* light box */
.content img {
  cursor: zoom-in;
}
.content {
  max-width: 1024px;
  padding: 50px 25px;
  font-size: 16px;
  font-weight: 300;
  line-height: 2;
  margin: 0 auto;
}
.content p {
  margin-bottom: 30px;
}
.content img {
  display: block;
  margin-bottom: 30px;
}
.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999999;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
}
.lightbox-content {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 25px;
}
.lightbox-content img {
  max-height: 400px;
  width: 90%;
  object-fit: cover;
  border-radius: 4px;
}
.lightbox-content i {
  color: white;
  font-size: 60px;
  cursor: pointer;
  flex-shrink: 0;
}

/* dropdown */

.dropdown {
  --primary: #de4b3e;
  --secondary: #c74237;
  width: 100%;
  max-width: 400px;
  margin: 25px auto;
  position: relative;
  color: white;
  text-transform: uppercase;
  font-size: 1.8rem;
  font-weight: bold;
  border-radius: 4px;
}
.dropdown__select {
  border-radius: inherit;
}
.dropdown__select * {
  pointer-events: none;
}
.dropdown__list {
  margin-top: 2.5rem;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  display: none;
  z-index: 10;
}
.dropdown__list.show {
  display: block;
}
.dropdown__list:before {
  content: "";
  height: 2.5rem;
  position: absolute;
  left: 0;
  right: 0;
  background-color: transparent;
  transform: translateY(-100%);
}
.dropdown__select,
.dropdown__item {
  width: 100%;
  padding: 2rem;
  background-color: var(--primary);
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.dropdown__item {
  transition: background-color 0.2s linear;
}
.dropdown__item * {
  pointer-events: none;
}
.dropdown__item:first-child {
  border-radius: 4px 4px 0 0;
  position: relative;
}
.dropdown__item:first-child:before {
  content: "";
  position: absolute;
  top: 0;
  left: 3rem;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid var(--primary);
  transform: translateY(-100%);
  transition: border-color 0.2s linear;
}
.dropdown__item:first-child:hover:before {
  border-bottom-color: var(--secondary);
}
.dropdown__item:last-child {
  border-radius: 0 0 4px 4px;
}
.dropdown__item:hover {
  background-color: var(--secondary);
}
/* tooltip */
.text {
  color: #3d6ef7;
  display: block;
  font-size: 20px;
  margin: 150px auto;
  width: max-content;
}
.tooltip {
  position: relative;
}
.tooltip-text {
  position: fixed;
  /* transform: translateX(-50%); */
  background-color: #3d6ef7;
  padding: 10px 20px;
  display: block;
  color: white;
  border-radius: 20px;
}
.tooltip-text:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 100%);
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #3d6ef7;
}


/* menu link hover */

.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  margin: 50px auto;
}
.menu-item {
  margin: 0 25px;
}
.menu-link {
  display: inline-block;
  color: black;
  position: relative;
}
.line-effect {
  width: 0;
  height: 2px;
  background-color: #3d6ef7;
  position: fixed;
  pointer-events: none;
  transition: all 0.25s linear;
}
/* .menu-link:before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #3d6ef7;
  opacity: 0;
  visibility: hidden;
}
.menu-link:hover:before {
  opacity: 1;
  visibility: visible;
} */

/* imageLinkHover */
.image-wrapper {
  height: 600px;
  width: 900px;
  position: relative;
  overflow: hidden;
  margin: 50px auto;
  border-radius: 20px;
}
.image {
  object-fit: contain;
  max-height: 100%;
  cursor: zoom-in;
  max-width: unset;
  position: relative;
  top: 50%;
  left: 50%;
  width: 100%;
  height: auto;
  transform: translate(-50%, -50%);
}
.image-cover {
  cursor: zoom-in;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

/* keyDown */
.inputkeyDown{
  padding: 15px;
  border: 1px solid #eee;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  width: 300px;
  margin: 50px auto;
  display: block;
}
.submit {
  padding: 20px;
  color: black;
  background-color: rgb(50, 114, 225);
  border: 0;
  margin: 50px auto;
  width: 300px;
  display: block;
  font-family: "Poppins", sans-serif;
}
.input{
  padding: 15px;
  border: 1px solid #eee;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  width: 300px;
  margin: 50px auto;
  display: block;
}