*,
*:before,
*:after {
  box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
a{
    text-decoration: none;
}
img{
    display: block;
    max-width: 100%;
}
body{
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    line-height: 1;
}
.button {
    padding: 20px;
    color: black;
    background-color: aqua;
    border: 0;
    margin: 50px auto;
    width: 300px;
    display: block;
    font-family: "Poppins", sans-serif;
}