*,
*:before,
*:after {
  box-sizing: border-box;
}
/* html{
    font-size: 62.5%;
} */
a{
    text-decoration: none;
}
img{
    display: block;
    max-width: 100%;
}
body {
  width: 100%;
  font-family: Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-image: url(../background2.jpg);
  background-size: cover;
}

hr {
  border: none;
  height: 1px;
  background-color: #ddd;
}

.wrapper{
  position: relative;
  width: 400px;
  height: 440px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, .5);
  border-radius: 20px;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 30px rgba(0, 0, 0, .5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper .form-box{
  width: 100%;
  padding: 40px;
}
.form-box h2{
  font-size: 2em;
  color: #162938;
  text-align: center;
}
.input-box{
  position: relative;
  width: 100%;
  height: 50px;
  border-bottom: 2px solid #162938;
  margin: 30px 0;
}
.input-box label{
  position: absolute;
  top: 50%;
  
}