*,
*:before,
*:after {
  box-sizing: border-box;
}
/* html{
    font-size: 62.5%;
} */
a{
    text-decoration: none;
}
img{
    display: block;
    max-width: 100%;
}
body {
  width: 100%;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  background-image: url(../name.jpg);
  background-size: 100%;
  background-position-y: -500px;
}

hr {
  border: none;
  height: 1px;
  background-color: #ddd;
}
/* 
.container {
  width: 100%;
  background-color: #aae1f6;
  border: 1px solid #ddd;
  padding: 20px 100px;
  display: flex;
}

.image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: block;
  margin: 50 auto;
  border: 5px solid #4CAF50;
}

.container span {
  font-size: 30px;
  text-align: center;
  margin-top: 30px;
  margin-left: 10px;
}
.info {
  max-width: 100%;
  padding: 20px 70px;
  display: flex;
  background-color: #aae1f6;
}


.aboutMe {
  padding: 20px;
  color: black;
  background-color: rgb(255, 255, 255);
  width: 200px;
  display: block;
  font-family: "Poppins", sans-serif;
  border: 1px solid #fa9797;
}
.aboutMe:hover{
  background-color: #c6cec7;
  color: red;
}
.yourImage {
  padding: 20px;
  color: black;
  background-color: rgb(255, 255, 255);
  width: 200px;
  display: block;
  font-family: "Poppins", sans-serif;
  border: 1px solid #fa9797;
  border-left: 0;
}
.yourImage:hover{
  background-color: #c6cec7;
  color: red;
}
.post {
  padding: 20px;
  color: black;
  background-color: rgb(255, 255, 255);
  width: 200px;
  display: block;
  font-family: "Poppins", sans-serif;
  border: 1px solid #fa9797;
  border-left: 0;
}
.post:hover{
  background-color: #c6cec7;
  color: red;
}
.showAboutMe{
  max-width: 100%;
  padding: 50px 50px;
  color: black;
  background-color: rgb(255, 255, 255);
  border-left: 0;
  margin :20px 70px 0 70px;
  opacity: 0;
  visibility: hidden;
  scale: 0;
  display: none;
}
.is-showAboutMe{
  opacity: 1;
  visibility:visible;
  scale: 1;
  display: block;
}
.showImage{
  padding: 50px 50px;
  color: black;
  background-color: rgb(255, 255, 255);
  max-width: 100%;
  border-left: 0;
  margin :20px 70px 0 70px;
  opacity: 0;
  visibility: hidden;
  scale: 0;
  display: none;
}
.is-showImage{
  opacity: 1;
  visibility:visible;
  scale:1;
  display:grid ;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px 40px;
}
.is-showImage img{
  border-radius: 10px;
  height:500px;
  width: 500px;
}


.end {
  background-color: #aae1f6;
  color: black;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.end h2{
  margin-left: 50px;
  font-size: 15px;
}
.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999999;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
}
.lightbox-content {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 25px;
}
.lightbox-content img {
  max-height: 700px;
  width: 90%;
  object-fit: cover;
  border-radius: 4px;
}
.lightbox-content i {
  color: white;
  font-size: 60px;
  cursor: pointer;
  flex-shrink: 0;
}
.form {
  margin: 50px auto;
  border: #333 solid 2px;
  width: 500px;
  border-radius: px;
  background-color: rgba(255, 255, 255, 0.43);
  justify-content: center;
  align-items: center;
  box-shadow: #1E90FF 0px 7px 29px 0px;
}

.title {
  
  display: block;
  width: 100%;
  padding: 30px 200px 0;
  text-align: center;
  font-size: 30px;
  color: #1E90FF;
}

.input {
  padding: 10px;
  border: #63B8FF solid 2px;
  border-radius: 5px;
  background-color: #d7e7ef;
  color: #000000;
  font-size: 15px;
  width: 300px;
  margin: 30px auto 20px;
  display: block;
}

.submit {
  padding: 20px;
  background-color: #5bc6ee;
  margin: 30px auto;
  border-radius: 5px;
  color: rgb(0, 0, 0);
  border: 2px solid;
  cursor: pointer;
  width: 150px;
  font-family: "Poppins", sans-serif;
  display: block;
}

.password {
  position: relative;
}
.toggle {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 120px;
  cursor: pointer;
}


 */



.form-box{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 512px;
  height: 420px;
  overflow: hidden;
  z-index: 2;
  padding-top:
}
.login-container{
  position: absolute;
  left: 400px;
  width: 500px;
  display: flex;
  flex-direction: column;
  transition: .5s ease-in-out;
}
.register-container{
  position: absolute;
  right: -520px;
  width: 500px;
  display: flex;
  flex-direction: column;
  transition: .5s ease-in-out;
}
.top span{
  color: #fff;
  font-size: small;
  padding: 10px 0;
  display: flex;
  justify-content: center;
}
.top span a{
  font-weight: 500;
  color: #fff;
  margin-left: 5px;
}
header{
  color: #fff;
  font-size: 30px;
  text-align: center;
  padding: 10px 0 30px 0;
}
.two-forms{
  display: flex;
  gap: 10px;
}
.input-field{
  font-size: 15px;
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
  height: 50px;
  width: 100%;
  padding: 0 10px 0 45px;
  border: none;
  border-radius: 30px;
  outline: none;
  transition: .2s ease;
}
.input-field:hover, .input-field:focus{
  background: rgba(255, 255, 255, 0.25);
}
::-webkit-input-placeholder{
  color: #fff;
}
.input-box{
  padding-top: 30px
}
.input-box i{
  position: relative;
  top: -35px;
  left: 17px;
  color: #fff;
}
.submit{
  font-size: 15px;
  font-weight: 500;
  color: black;
  height: 45px;
  width: 100%;
  border: none;
  border-radius: 30px;
  outline: none;
  background: rgba(255, 255, 255, 0.7);
  cursor: pointer;
  transition: .3s ease-in-out;
}
.submit:hover{
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.2);
}
.two-col{
  display: flex;
  justify-content: space-between;
  color: #fff;
  font-size: small;
  margin-top: 20px;
}
.two-col .one{
  display: flex;
  gap: 5px;
  font-size: 20px;
}
.two label a{
  text-decoration: none;
  color: #fff;
  font-size: 20px;
}
.two label a:hover{
  text-decoration: underline;
}
@media only screen and (max-width: 786px){
  .nav-button{
      display: none;
  }
  .nav-menu.responsive{
      top: 100px;
  }
  .nav-menu{
      position: absolute;
      top: -800px;
      display: flex;
      justify-content: center;
      background: rgba(255, 255, 255, 0.2);
      width: 100%;
      height: 90vh;
      backdrop-filter: blur(20px);
      transition: .3s;
  }
  .nav-menu ul{
      flex-direction: column;
      text-align: center;
  }
  .nav-menu-btn{
      display: block;
  }
  .nav-menu-btn i{
      font-size: 25px;
      color: #fff;
      padding: 10px;
      background: rgba(255, 255, 255, 0.2);
      border-radius: 50%;
      cursor: pointer;
      transition: .3s;
  }
  .nav-menu-btn i:hover{
      background: rgba(255, 255, 255, 0.15);
  }
}
@media only screen and (max-width: 540px) {
  .wrapper{
      min-height: 100vh;
  }
  .form-box{
      width: 100%;
      height: 500px;
  }
  .register-container, .login-container{
      width: 100%;
      padding: 0 20px;
  }
  .register-container .two-forms{
      flex-direction: column;
      gap: 0;
  }
}