*,
*:before,
*:after {
  box-sizing: border-box;
}
/* html{
    font-size: 62.5%;
} */
a{
    text-decoration: none;
}
img{
    display: block;
    max-width: 100%;
}
body {
  width: 100%;
  font-family: Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-image: url(../background3.jpg);
  background-size: cover;
  background-position-y: ;
}

hr {
  border: none;
  height: 1px;
  background-color: #ddd;
}

.wrapper{
  position: relative;
  width: 400px;
  height: 440px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, .5);
  border-radius: 20px;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 30px rgba(0, 0, 0, .5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper .form-box{
  width: 100%;
  padding: 40px;
}
.form-box h2{
  font-size: 2em;
  color: #162938;
  text-align: center;
}
.input-box{
  position: relative;
  width: 100%;
  height: 50px;
  border-bottom: 2px solid #162938;
  margin: 50px 0;
}
.input-box label{
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  font-size: 1em;
  color: #162938;
  font-weight: 500;
  pointer-events: none;
  transition: .5s;
}
.input-box input:focus~label,
.input-box input:valid~label{
  top:-5px;
}
.input-box input{
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  color: #162938;
  font-weight: 600;
  padding-left: 15px;
}

.remember-forgot{
  font-size: .9em;
  color: #162938;
  font-weight: 500;
  margin: -15px 0 15px;
  display: flex;
  justify-content: space-between;
}
.remember-forgot label input{
  accent-color: #162938;
  margin-right: 3px;
}
.remember-forgot a{
  color: #162938;
  text-decoration: none;
}
.remember-forgot a:hover{
  text-decoration: underline;
}
.btn{
  width: 100%;
  height: 50px;
  background: #162938;
  border: none;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1em;
  color: #fff;
  font-weight: 500;
}
.login-register{
  font-size: .9em;
  color: #162938;
  text-align: center;
  font-weight: 500;
  margin: 25px 0 10px;
}
.login-register p a{
  color: #162938;
  text-decoration: none;
  font-weight: 600;
}
.login-register p a:hover{
  text-decoration: none;
}