*,
*:before,
*:after {
  box-sizing: border-box;
}
/* html{
    font-size: 62.5%;
} */
a{
    text-decoration: none;
}
img{
    display: block;
    max-width: 100%;
}
body {
  width: 100%;
  font-family: Arial, sans-serif;
  display: flex;
  
}

hr {
  border: none;
  height: 1px;
  background-color: #ddd;
}
