*,
*:before,
*:after {
  box-sizing: border-box;
}
/* html{
    font-size: 62.5%;
} */
a{
    text-decoration: none;
}
img{
    display: block;
    max-width: 100%;
}
body {
  width: 100%;
  font-family: Arial, sans-serif;
  
  /* background-color: #f0f0f0;
  background-image: url(../name.jpg);
  background-size: 100%;
  background-position-y: -500px; */
}

hr {
  border: none;
  height: 1px;
  background-color: #ddd;
}
