*,
*:before,
*:after {
    box-sizing: border-box;
}
/* html{
    font-size: 62.5%;
} */
a{
    text-decoration: none;
}
img{
    display: block;
    max-width: 100%;
}
body {
    max-width: 100%;
    height: 100vh;
  background: url(../background5.png);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  
}
:root{
    
}

/* HOME */
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 0 8px rgba(0,0,0,0.6);
    
}
.logo img {
  width: 120px;
  height: auto;
  margin-left: 50px;
  left: -4%;
}
/* Style the search bar */
.search input[type="text"] {
  padding: 5px;
  border: none;
  border-radius: 5px;
  border: 1px solid #000000;
  font-size: 1em;
}

.search button {
  background-color: #008eff;
  color: #000000;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 18px;
}

/* Add spacing between elements */
nav ul {
    list-style: none;
    display: flex;
    font-size: 18px;
}
nav li {
    margin-right: 30px;
}
  
nav a {
    text-decoration: none;
    color: #000000;
}
nav a:hover{
    color:#008eff;
}
.social_icon{
    margin-right: 40px;
    margin-left: 40px;
}
.social_icon i{
    margin: 0 4px;
    margin-right: 15px;
    cursor: pointer;
    font-size: 25px;
    transition: 0.3s;
}
.social_icon i:hover{
    color:#008eff;
}

.categories-slider {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #eee;
    padding: 20px;
}

.categories-wrapper {
    overflow: hidden;
    width: 100%;
    margin: 10px 0;
}

.categories {
    display: flex;
    justify-content: flex-start;
    transition: transform 0.3s ease-in-out;
}

.category {
    text-align: center;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #fff;
    width: 150px; /* Điều chỉnh chiều rộng của mỗi danh mục */
}

/* Thiết lập kiểu cho nút bấm qua lại */
button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

/* Kiểu chung cho danh mục giày dép (chỉ để minh họa) */
.category h2 {
    margin: 0;
    font-size: 1.5rem;
    color: #333;
}