*,
*:before,
*:after {
  box-sizing: border-box;
}
/* html{
    font-size: 62.5%;
} */
a{
    text-decoration: none;
}
img{
    display: block;
    max-width: 100%;
}
body {
  max-width: 100%;
  height: 100vh;
  background: url(../background5.png);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  
}
:root{
    
}

/* HOME */
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 0 8px rgba(0,0,0,0.6);
    
}
.logo img {
  width: 12px;
  height: auto;
  margin-left: 5px;
  left: -4%;
}
nav ul {
    list-style: none;
    display: flex;
}
nav li {
    margin-right: 20px;
}
  
nav a {
    text-decoration: none;
    color: #000000;
}
  
  /* Style the search bar */
.search input[type="text"] {
    padding: 5px;
    border: none;
    border-radius: 5px;
    border: 1px solid #000000;
}
  
.search button {
    background-color: #008eff;
    color: #000000;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}
  
  /* Add spacing between elements */
nav, .search {
    margin-left: auto;
}