
  @import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500&family=Roboto:wght@300&display=swap');

*,
*:before,
*:after {
    box-sizing: border-box;
}
/* html{
    font-size: 62.5%;
} */
a{
    text-decoration: none;
}
img{
    display: block;
    max-width: 100%;
}
body {
    max-width: 100%;
    height: 100vh;
  background: url(../background5.png);
  background-repeat: no-repeat;
  background-size: cover;
  
}
/* HOME */
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 0 8px rgba(0,0,0,0.6);
    font-family: 'Fira Sans', sans-serif;
    font-size: 13px;
    
}
.logo img {
  width: 120px;
  height: auto;
  margin-left: 50px;
  left: -4%;
}
/* Style the search bar */
.search input[type="text"] {
  padding: 5px;
  border: none;
  border-radius: 5px;
  border: 1px solid #000000;
}

.search button {
background: linear-gradient(to right, #c72092 , #6c14d0);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 7px 10px;
  cursor: pointer;
}

/* Add spacing between elements */
nav ul {
    list-style: none;
    display: flex;
    font-size: 18px;
}
nav li {
    margin-right: 30px;
}
  
nav a {
    text-decoration: none;
    color: #000000;
}
nav a:hover{
    color:#085f63;
}
.social_icon{
    margin-right: 40px;
    margin-left: 40px;
}
.social_icon i{
    margin: 0 4px;
    margin-right: 15px;
    cursor: pointer;
    font-size: 25px;
    transition: 0.3s;
}
.social_icon i:hover{
    color:#074e52;
}



.main .main_content{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.main .main_content .main_text h1{
    font-size: 90px;
    line-height: 70px;
    font-family: pyxidium quick;
    background: linear-gradient(to right, #fa5c5c, #008eff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
    top:45px;
    left:5%;
}
.main .main_content .main_text h1 span{
    font-size: 70px;
    background: linear-gradient(to right, #fa5c5c, #008eff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.main .main_content .main_text p{
    width: 600px;
    text-align: justify;
    line-height: 21px;
    position: relative;
    top: 85px;
    left: 5%;

}

.main .main_content .main_image img{
    width: 650px;
    position: relative;
    left: 20px;
    top: 75px;
}


/*Footer*/

footer{
    width: 100%;
    position: fixed; /* Giữ footer ở đáy trang */
    bottom: 0; /* Đặt footer ở phía dưới cùng của trang */
}

footer .footer_main{
    width: 100%;
    background: #f3f1f1;
    display: flex;
    justify-content: space-around;
}

footer .footer_main .tag .center{
    text-align: center;
}

footer .footer_main .tag h1{
    font-size: 25px;
    margin: 15px 0;
    color: #1c0080;
}

footer .footer_main .tag a{
    display: block;
    color: black;
    text-decoration: none;
    margin: 9px 0;
}

footer .footer_main .tag a i{
    padding: 0 10px;
    transition: 0.3;
}

footer .footer_main .tag a i:hover{
    color: #c72092;
}

footer .footer_main .tag .social_link{
    display: flex;
}

footer .footer_main .tag .social_link a{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
    color: black;
    box-shadow: 0 0 20px 10px rgba(0,0,0,0.05);
    position: relative;
    margin: 0 5px;
    z-index: 10;
    overflow: hidden;
}

footer .footer_main .tag .social_link a .fa-brands{
    font-size: 15px;
    line-height: 30px;
    z-index: 10;
    position: relative;
    transition: 0.5s;
}

footer .footer_main .tag .social_link a:hover i{
    color: white;
}

footer .footer_main .tag .social_link a::after{
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: -90px;
    background: linear-gradient(-45deg, #c72092 , #6c14d0);
    position: absolute;
    z-index: -10;
    transition: 0.5s;
}

footer .footer_main .tag .social_link a:hover::after{
    left: 0;
}

footer .footer_main .tag .search_bar{
    width: 230px;
    height: 30px;
    background: rgb(202, 202, 202);
    border-radius: 25px;
}

footer .footer_main .tag .search_bar input{
    width: 200px;
    padding: 2px 0;
    position: relative;
    top: 17%;
    left: 6%;
    border: none;
    background: none;
    outline: none;
    font-size: 13px;
}

footer .footer_main .tag .search_bar button{
    padding: 7px 15px;
    background: linear-gradient(to right, #c72092 , #6c14d0);
    border: none;
    margin-top: 15px;
    border-radius: 25px;
    color: white;
    cursor: pointer;
}