*,
*:before,
*:after {
    box-sizing: border-box;
}
/* html{
    font-size: 62.5%;
} */
a{
    text-decoration: none;
}
img{
    display: block;
    max-width: 100%;
}
body {
    max-width: 100%;
    height: 100vh;
  background: url(../background5.png);
  background-repeat: no-repeat;
  background-size: cover;
  
}
:root{
    
}

/* HOME */
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 0 8px rgba(0,0,0,0.6);
    
}
.logo img {
  width: 120px;
  height: auto;
  margin-left: 50px;
  left: -4%;
}
/* Style the search bar */
.search input[type="text"] {
  padding: 5px;
  border: none;
  border-radius: 5px;
  border: 1px solid #000000;
  font-size: 1em;
}

.search button {
  background-color: #008eff;
  color: #000000;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 18px;
}

/* Add spacing between elements */
nav ul {
    list-style: none;
    display: flex;
    font-size: 18px;
}
nav li {
    margin-right: 30px;
}
  
nav a {
    text-decoration: none;
    color: #000000;
}
nav a:hover{
    color:#008eff;
}
.social_icon{
    margin-right: 40px;
    margin-left: 40px;
}
.social_icon i{
    margin: 0 4px;
    margin-right: 15px;
    cursor: pointer;
    font-size: 25px;
    transition: 0.3s;
}
.social_icon i:hover{
    color:#008eff;
}



/*Products*/

.products{
    width: 100%;
    height: 140vh;
    padding: 25px 50px;
    
}

.products h1{
    margin: 35px 0;
    font-size: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    background: linear-gradient(to right, #fa5c5c, #008eff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;    
}

.products .box{
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 25px 0;
}

.products .box .card{
    width: 290px;
    height: 350px;
    box-shadow: 0 0 8px #6c14d0;
    border-radius: 5px;
    text-align: center;
    padding: 10px 20px;
    background: #f6f6f6;
}

.products .box .card .image{
    display: flex;
    align-items: center;
    justify-content: center;
}

.products .box .card .image img{
    width: 150px;
    margin: 25px 0;
    transition: 0.3s;
}

.products .box .card:hover .image img{
    transform: scale(1.1);
}

.products .box .card .product_text h2{
    font-size: 30px;
    margin-top: 15px;
}

.products .box .card .product_text p{
    color: #91919191;
    line-height: 21px;
    margin: 8px 0;
}

.products .box .card .product_text h3{
    margin: 15px 0;
}


.products .box .card .product_text .btn{
    text-decoration: none;
    padding: 10px 20px;
    background: linear-gradient(to right, #fa5c5c, #008eff);
    color: white;
}






/*Footer*/

footer{
    width: 100%;
    position: fixed; /* Giữ footer ở đáy trang */
    bottom: 0; /* Đặt footer ở phía dưới cùng của trang */
}

footer .footer_main{
    width: 100%;
    background: #f3f1f1;
    display: flex;
    justify-content: space-around;
}

footer .footer_main .tag .center{
    text-align: center;
}

footer .footer_main .tag h1{
    font-size: 25px;
    margin: 15px 0;
    color: #1c0080;
}

footer .footer_main .tag a{
    display: block;
    color: black;
    text-decoration: none;
    margin: 9px 0;
}

footer .footer_main .tag a i{
    padding: 0 10px;
    transition: 0.3;
}

footer .footer_main .tag a i:hover{
    color: #c72092;
}

footer .footer_main .tag .social_link{
    display: flex;
}

footer .footer_main .tag .social_link a{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
    color: black;
    box-shadow: 0 0 20px 10px rgba(0,0,0,0.05);
    position: relative;
    margin: 0 5px;
    z-index: 10;
    overflow: hidden;
}

footer .footer_main .tag .social_link a .fa-brands{
    font-size: 15px;
    line-height: 30px;
    z-index: 10;
    position: relative;
    transition: 0.5s;
}

footer .footer_main .tag .social_link a:hover i{
    color: white;
}

footer .footer_main .tag .social_link a::after{
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: -90px;
    background: linear-gradient(-45deg, #c72092 , #6c14d0);
    position: absolute;
    z-index: -10;
    transition: 0.5s;
}

footer .footer_main .tag .social_link a:hover::after{
    left: 0;
}

footer .footer_main .tag .search_bar{
    width: 230px;
    height: 30px;
    background: rgb(202, 202, 202);
    border-radius: 25px;
}

footer .footer_main .tag .search_bar input{
    width: 200px;
    padding: 2px 0;
    position: relative;
    top: 17%;
    left: 6%;
    border: none;
    background: none;
    outline: none;
    font-size: 13px;
}

footer .footer_main .tag .search_bar button{
    padding: 7px 15px;
    background: linear-gradient(to right, #c72092 , #6c14d0);
    border: none;
    margin-top: 15px;
    border-radius: 25px;
    color: white;
    cursor: pointer;
}