*,
*:before,
*:after {
    box-sizing: border-box;
}
/* html{
    font-size: 62.5%;
} */
a{
    text-decoration: none;
}
img{
    display: block;
    max-width: 100%;
}
body {
    max-width: 100%;
    height: 100vh;
  background: url(../background5.png);
  background-repeat: no-repeat;
  background-size: cover;
  
}
:root{
    
}

/* HOME */
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 0 8px rgba(0,0,0,0.6);
    
}
.logo img {
  width: 120px;
  height: auto;
  margin-left: 50px;
  left: -4%;
}
/* Style the search bar */
.search input[type="text"] {
  padding: 5px;
  border: none;
  border-radius: 5px;
  border: 1px solid #000000;
  font-size: 1em;
}

.search button {
  background-color: #008eff;
  color: #000000;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 18px;
}

/* Add spacing between elements */
nav ul {
    list-style: none;
    display: flex;
    font-size: 18px;
}
nav li {
    margin-right: 30px;
}
  
nav a {
    text-decoration: none;
    color: #000000;
}
nav a:hover{
    color:#008eff;
}
.social_icon{
    margin-right: 40px;
    margin-left: 40px;
}
.social_icon i{
    margin: 0 4px;
    margin-right: 15px;
    cursor: pointer;
    font-size: 25px;
    transition: 0.3s;
}
.social_icon i:hover{
    color:#008eff;
}



/*Products*/

.products{
    width: 100%;
    height: 140vh;
    padding: 25px 50px;
}

.products h1{
    margin: 35px 0;
    font-size: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    background: linear-gradient(to right, #fa5c5c, #008eff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;    
}

.products .box{
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 25px 0;
}

.products .box .card{
    width: 290px;
    height: 440px;
    box-shadow: 0 0 8px #6c14d0;
    border-radius: 5px;
    text-align: center;
    padding: 10px 20px;
    background: #f6f6f6;
}

.products .box .card .image{
    display: flex;
    align-items: center;
    justify-content: center;
}

.products .box .card .image img{
    width: 150px;
    margin: 15px 0;
    transition: 0.3s;
}

.products .box .card:hover .image img{
    transform: scale(1.1);
}

.products .box .card .small_card i{
    width: 45px;
    height: 45px;
    border-radius: 5px;
    font-size: 18px;
    margin: 2px 0;
    line-height: 40px;
    border: 2px solid #999999;
    transition: 0.2s;
}


.products .box .card .product_text h2{
    font-size: 30px;
    margin-top: 15px;
}

.products .box .card .product_text p{
    color: #91919191;
    line-height: 21px;
    margin: 8px 0;
}

.products .box .card .product_text h3{
    margin: 7px 0;
}


.products .box .card .product_text .btn{
    text-decoration: none;
    padding: 50px 20px;
    background: linear-gradient(to right, #fa5c5c, #008eff);
    color: white;
}
